:root {
	--gpi_table_txt_col: #2e5979; /* Colour for the GPI survey table*/
	--gpi_table_bkg_col: #ffffff; /* Colour for the GPI survey table background */
	--gpi_table_alt_col: #c4cfd5; /* Alternating colour for GPI survey table background */
	--gpi_button_bkg_col: #2e5979; /* Background colour for buttons */
	--gpi_button_txt_col: #ffffff; /* Text colour for buttons */
	--gpi_quad_circle_colour: #8bafc7; /* GPI default : #8bafc7 */
	--gpi_quad_start_colour: #a9d5f5; /* GPI default : #a9d5f5 */
	--gpi_quad_end_colour: #3277a8; /* GPI default : #3277a8 */
	--gpi_quad_axis_colour: #253959; /* GPI default : #253959 */
	--gpi_quad_grid_colour: #a9d5f5; /* GPI default : #a9d5f5 */
	--gpi_quad_marker_colour: #f0210a; /* GPI default : #f0210a */
	--gpi_quad_text_colour: #ffffff; /* GPI default : #ffffff */
}

.gpi_main {
	margin: auto;
	width: 90%;
}

.gpi_lead_qu {
	font-style: italic;
}

.gpi_surv_label {
	display: none;
}

.gpi_container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
}

.gpi_surv_table {
	display: table;
	width: 100%;
	color: var(--gpi_table_txt_col);
	overflow: auto;
}

.gpi_surv_tr {
	display: table-row;
}

.gpi_surv_thead {
	display: table-row;
}

div.gpi_surv_tr:nth-child(even) {
	background-color: var(--gpi_table_alt_col);
}

div.gpi_surv_tr:nth-child(odd) {
	background-color: var(--gpi_table_bkg_col);
}

.gpi_surv_qu {
	width: 25%;
	display: table-cell;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
	text-align:left;
}

.gpi_surv_td {
	width: 15%;
	display: table-cell;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
}

.gpi_surv_th {
	width: 15%;
	display: table-cell;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: bottom;
}

.gpi_surv_button_box {

	text-align:center;
}

.gpi_button {
	width: 200px;
	background-color: var(--gpi_button_bkg_col);
	color: var(--gpi_button_txt_col);
	border: none;
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.gpi_button:hover {
	cursor:pointer;
}

input[type='radio'] {
	transform: scale(1.5);
}

input:hover {
	cursor:pointer;
}

@media only screen and (max-width: 768px) {
	.gpi_surv_thead {
		display: none;
	}

	.gpi_surv_qu {
		display: block;
		width: 100%;
		margin-top: 5px;
	}

	.gpi_surv_td {
		display: block;
		width: 100%;
		background-color: var(--gpi_table_alt_col);
		text-align: left;
		margin-bottom: 5px;
	}

	div.gpi_surv_tr:nth-child(even) {
		background-color: var(--gpi_table_bkg_col);
	}

	.gpi_surv_label {
		display: inline;
		padding-left: 10px;
	}
}








