/*
	==============================================================
	   Formatting for the GPI Web Components
	==============================================================

	Contents
	--------------------------------------------------------------

	+ CSS root variables
	+ General formatting
	+ Application menu
	+ GPI survey
	+ User forms

*/

/*
	==============================================================
	   CSS root variables
	==============================================================
*/
:root {
	/* ============   General formatting   ============ */
	--gpi_text_size: 16px; /* General text size */
	--gpi_font: 'Open Sans', sans-serif; /* General font-family */
	--gpi_h1_col: #17171b; /* Edease H1 colour */
	--gpi_h2_col: #17171b; /* Edease H1 colour */
	--gpi_h3_col: #17171b; /* Edease H1 colour */
	--gpi_h4_col: #17171b; /* Edease H1 colour */
	--gpi_h1_size: 28px; /* H1 text size */
	--gpi_h2_size: 24px; /* H2 text size */
	--gpi_h3_size: 20px; /* H3 text size */
	--gpi_h4_size: 16px; /* H4 text size */
	--gpi_h1_mob_size: 24px; /* H1 text size on mobile */
	--gpi_h2_mob_size: 20px; /* H2 text size on mobile */
	--gpi_h3_mob_size: 16px; /* H3 text size on mobile */
	--gpi_h4_mob_size: 16px; /* H4 text size on mobile */
	--gpi_bkg_col: #f9f9f9; /* Background colour for content */
	--gpi_button_bkg_col: #59c1d7; /* Background colour for GPI buttons Edease blue: #59c1d7  */
	--gpi_button_txt_col: #ffffff; /* Text colour for GPI buttons */
	--gpi_button_width: 200px; /* GPI button width */
	--gpi_button_mob_width: 120px; /* GPI button width on mobile */
	--gpi_link_col: #59c1d7; /* Colour for links (Edease blue) */
	--gpi_link_hover_col: #ff0000; /* Colour for the link hover colour */
	/* ============    Applicaton menu     ============ */
	--gpi_menu_bar_bgk_col: #ffffff; /* Colour for the navigation menu bar background */
	--gpi_menu_text_col: #ffffff; /* Colour for the navigation menu bar text */
	--gpi_menu_item_bkg_col: #59c1d7; /* Colour for the navigation menu bar text */
	--gpi_logo_src: 'images/edease_logo.svg'; /* Path for logo */
	--gpi_burger_src: 'images/burger_black.png'; /* Path for logo */
	/* ============       GPI survey      ============ */
	--gpi_table_txt_col: #2e5979; /* Colour for the GPI survey table (GPI dark blue #2e5979) */
	--gpi_table_bkg_col: #ffffff; /* Colour for the GPI survey table background */
	--gpi_table_alt_col: #c4cfd5; /* Alternating colour for GPI survey table background (GPI grey #c4cfd5) */
	/* ============   GPI visualisations    ============ */
	--gpi_quad_circle_colour: #59c1d7; /* Colour for circle on quadrant / STEN score graphics */
	--gpi_quad_show_circle: 0; /* If greater than 0, the circle backgrounds are plotted*/
	--gpi_quad_shadow_on: 0; /* If greater than 0, shadows are plotted */
	--gpi_quad_start_colour: #ffffff; /* Start colour for quadrant / STEN score gradient colour */
	--gpi_quad_end_colour: #ffffff; /* End colour for quadrant / STEN score gradient colour */
	--gpi_quad_axis_colour: #132238; /* Colour for quadrant / STEN score axes */
	--gpi_quad_grid_colour: #c4c8cd; /* Colour for quadrant / STEN score grid */
	--gpi_quad_marker_colour: #59c1d7; /* Colour for quadrant / STEN score location marker */
	--gpi_quad_text_colour: #17171b; /* Colour for quadrant text */
	--gpi_quad_label_text_colour: #ffffff; /* Colour for quadrant / STEN score axis label text */
}

/*
	==============================================================
	   General formatting
	==============================================================
*/

/* GPI content */
.gpi_content {
	font-size: var(--gpi_text_size);
	font-family: var(--gpi_font);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 65px;
	width: 100%;
}

/* List text formatting */
.gpi_li {
	font-size: var(--gpi_text_size);
	padding-right: 10px;
	text-align: left;
}

/* Headings H1 */
.gpi_h1 {
	color: var(--gpi_h1_col);
	font-weight: bold;
	font-size: var(--gpi_h1_size);
	text-align: center;
}

/* Headings H2 */
.gpi_h2 {
	color: var(--gpi_h2_col);
	font-weight: bold;
	font-size: var(--gpi_h2_size);
	text-align: center;
}

/* Headings H3 */
.gpi_h3 {
	color: var(--gpi_h3_col);
	font-weight: bold;
	font-size: var(--gpi_h3_size);
	text-align: center;
}

/* Headings H4 */
.gpi_h4 {
	color: var(--gpi_h4_col);
	font-weight: bold;
	font-size: var(--gpi_h4_size);
}

@media only screen and (max-width: 768px) {
	/* Headings H1 */
	.gpi_h1 {
		font-size: var(--gpi_h1_mob_size);
	}

	/* Headings H2 */
	.gpi_h2 {
		font-size: var(--gpi_h2_mob_size);
	}

	/* Headings H3 */
	.gpi_h3 {
		font-size: var(--gpi_h3_mob_size);
	}

	/* Headings H4 */
	.gpi_h4 {
		font-size: var(--gpi_h4_mob_size);
		padding-top: 10px;
	}
}

/* Used to configure 'read more' and 'read less' icons */
.plus {
	font-display: inherit;
	display: inline;
}

	.plus:hover {
		cursor: pointer;
	}

/* Links */
.gpi_link {
	color: var(--gpi_link_col);
	border: 2px solid var(--gpi_link_col);
	border-radius: 24px;
	padding: 6px;
}

	.gpi_link:hover {
		color: var(--gpi_link_hover_col);
		cursor: pointer;
	}

/* Label next to link */
.gpi_label {
	line-height:250%;
}

/* GPI component including menu and content */
.gpi_component {
	position: relative;
	background-color: var(--gpi_bkg_col);
	width: 768px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 768px) {
	.gpi_component {
		width: 100%;
	}
}

/* Turns a div into a general user button */
.gpi_button {
	width: var(--gpi_button_width);
	background-color: var(--gpi_button_bkg_col);
	color: var(--gpi_button_txt_col);
	border-radius: 25px;
	border: none;
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

	.gpi_button:hover {
		cursor: pointer;
	}

@media only screen and (max-width: 768px) {
	.gpi_button {
		width: var(--gpi_button_mob_width);
	}
}

/*
	==============================================================
	   Application menu
	==============================================================
*/

/* Menu bar containing logo and hamburger icon */
.gpi_menu_bar {
	width: 768px;
	background-color: var(--gpi_menu_bar_bgk_col);
	position: absolute;
	top: 0;
	display: block;
}

	.gpi_menu_bar a {
		color: var(--gpi_menu_text_col);
	}

@media only screen and (max-width: 768px) {
	.gpi_menu_bar {
		width: 100%;
		left: 0;
	}
}

/* Menu dropdown content (on clicking hamburger icon) */
.gpi_dropdown {
	position: absolute;
	top: 60px;
	width: 400px;
	text-align: left;
	font-size: var(--gpi_text_size);
	font-family: var(--gpi_font);
	color: var(--gpi_menu_text_col);
	background-color: var(--gpi_menu_item_bkg_col);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
}

	.gpi_dropdown a {
		color: var(--gpi_menu_text_col);
		line-height: 200%;
	}

		.gpi_dropdown a:hover {
			color: var(--gpi_link_hover_col);
			cursor: pointer;
		}

@media only screen and (max-width: 768px) {
	.gpi_dropdown {
		width: 100%;
	}
}

/* GPI logo container */
.gpi_logo_container {
	float: left;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 10px;
}

/* GPI hamburger container */
.gpi_burger_container {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 0px;
	float: right;
}

/* GPI logo image */
.gpi_logo {
	display: inline-block;
	height: 45px;
	width: auto;
	max-height: 100%;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 0px;
}

/* GPI hamburger image */
.gpi_burger {
	display: inline-block;
	height: 45px;
	width: auto;
	max-height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
}

/*
	==============================================================
	   GPI survey
	==============================================================
*/
/* Lead question */
.gpi_lead_qu {
	font-style: italic;
}

/* Survey label */
.gpi_surv_label {
	display: none;
}

/* Survey table */
.gpi_surv_table {
	display: table;
	width: 100%;
	color: var(--gpi_table_txt_col);
	overflow: auto;
}

/* Survey table row */
.gpi_surv_tr {
	display: table-row;
}

/* Survey table head */
.gpi_surv_thead {
	display: table-row;
}

/* Alternate table row colours */
div.gpi_surv_tr:nth-child(even) {
	background-color: var(--gpi_table_alt_col);
}

/* Alternate table row colours */
div.gpi_surv_tr:nth-child(odd) {
	background-color: var(--gpi_table_bkg_col);
}

/* Survey question */
.gpi_surv_qu {
	width: 25%;
	display: table-cell;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
	text-align: left;
}

/* Survey table data */
.gpi_surv_td {
	width: 15%;
	display: table-cell;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
}

/* Survey table head content */
.gpi_surv_th {
	width: 15%;
	display: table-cell;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: bottom;
}

/* Survey button box */
.gpi_surv_button_box {
	text-align: center;
}

/* Scale the radio buttons on the survey */
input[type='radio'] {
	transform: scale(1.5);
}

/* Give pointer when user hovers over a radio button */
input:hover {
	cursor: pointer;
}

@media only screen and (max-width: 768px) {

	/* Survey table head (hides this on mobile) */
	.gpi_surv_thead {
		display: none;
	}

	/* Survey question */
	.gpi_surv_qu {
		display: block;
		width: 100%;
		margin-top: 5px;
	}

	/* Survey table data */
	.gpi_surv_td {
		display: block;
		width: 100%;
		background-color: var(--gpi_table_alt_col);
		text-align: left;
		margin-bottom: 5px;
	}

	/* Alternate table row colours */
	div.gpi_surv_tr:nth-child(even) {
		background-color: var(--gpi_table_bkg_col);
	}

	/* Survey label */
	.gpi_surv_label {
		display: inline;
		padding-left: 10px;
	}
}

/*
	==============================================================
	   User forms
	==============================================================
*/
.gpi_form_container {
	padding-left: 10px;
	padding-right: 10px;
}

.col-md-2,
.col-md-10 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 992px) {
	.col-md-2,
	.col-md-10 {
		float: left;
	}

	.col-md-10 {
		width: 75%;
	}

	.col-md-2 {
		width: 25%;
	}

	.col-md-offset-2 {
		margin-left: 25%;
	}
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

select[multiple],
select[size] {
	height: auto;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

	.form-control:focus {
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
	}

	.form-control::-moz-placeholder {
		color: #999;
		opacity: 1;
	}

	.form-control:-ms-input-placeholder {
		color: #999;
	}

	.form-control::-webkit-input-placeholder {
		color: #999;
	}

	.form-control::-ms-expand {
		background-color: transparent;
		border: 0;
	}

	.form-control[disabled],
	.form-control[readonly],
	fieldset[disabled] .form-control {
		background-color: #eeeeee;
		opacity: 1;
	}

	.form-control[disabled],
	fieldset[disabled] .form-control {
		cursor: not-allowed;
	}

.form-group {
	margin-bottom: 15px;
}

@media (min-width: 768px) {
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}

	.form-inline .form-control-static {
		display: inline-block;
	}

	.form-inline .input-group {
		display: inline-table;
		vertical-align: middle;
	}

		.form-inline .input-group .input-group-addon,
		.form-inline .input-group .input-group-btn,
		.form-inline .input-group .form-control {
			width: auto;
		}

		.form-inline .input-group > .form-control {
			width: 100%;
		}

	.form-inline .control-label {
		margin-bottom: 0;
		vertical-align: middle;
	}
}

.form-horizontal .form-group {
	margin-right: -15px;
	margin-left: -15px;
}

@media (min-width: 768px) {
	.form-horizontal .control-label {
		padding-top: 7px;
		margin-bottom: 0;
		text-align: right;
	}
}

@media (min-width: 768px) {
	.form-horizontal .form-group-lg .control-label {
		padding-top: 11px;
		font-size: 18px;
	}
}

@media (min-width: 768px) {
	.form-horizontal .form-group-sm .control-label {
		padding-top: 6px;
		font-size: 12px;
	}
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	.btn:focus,
	.btn:active:focus,
	.btn.active:focus,
	.btn.focus,
	.btn:active.focus,
	.btn.active.focus {
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}

	.btn:hover,
	.btn:focus,
	.btn.focus {
		color: #333;
		text-decoration: none;
	}

	.btn:active,
	.btn.active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}

	.btn.disabled,
	.btn[disabled],
	fieldset[disabled] .btn {
		cursor: not-allowed;
		filter: alpha(opacity=65);
		opacity: 0.65;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

a.btn.disabled,
fieldset[disabled] a.btn {
	pointer-events: none;
}

.btn-default {
	color: #333;
	background-color: var(--gpi_button_bkg_col);
	color: var(--gpi_button_txt_col);
	border-color: #ccc;
}

	.btn-default:focus,
	.btn-default.focus {
		color: #333;
		background-color: #e6e6e6;
		border-color: #8c8c8c;
	}

	.btn-default:hover {
		color: #333;
		background-color: #e6e6e6;
		border-color: #adadad;
	}

	.btn-default:active,
	.btn-default.active,
	.open > .dropdown-toggle.btn-default {
		color: #333;
		background-color: #e6e6e6;
		background-image: none;
		border-color: #adadad;
	}

		.btn-default:active:hover,
		.btn-default.active:hover,
		.open > .dropdown-toggle.btn-default:hover,
		.btn-default:active:focus,
		.btn-default.active:focus,
		.open > .dropdown-toggle.btn-default:focus,
		.btn-default:active.focus,
		.btn-default.active.focus,
		.open > .dropdown-toggle.btn-default.focus {
			color: #333;
			background-color: #d4d4d4;
			border-color: #8c8c8c;
		}

	.btn-default.disabled:hover,
	.btn-default[disabled]:hover,
	fieldset[disabled] .btn-default:hover,
	.btn-default.disabled:focus,
	.btn-default[disabled]:focus,
	fieldset[disabled] .btn-default:focus,
	.btn-default.disabled.focus,
	.btn-default[disabled].focus,
	fieldset[disabled] .btn-default.focus {
		background-color: #fff;
		border-color: #ccc;
	}

	.btn-default .badge {
		color: #fff;
		background-color: #333;
	}


.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
	display: table;
	content: " ";
}

.form-horizontal .form-group:after {
	clear: both;
}
